#CTA {
    width: 100%;
    overflow: hidden;
    padding-top: 6rem;
    margin-top: - 5px;
    padding-bottom: 4rem;
    background-color: $background-color;
    @include container;

    @include screen(small) {
        padding-left: 0;
        padding-right: 0;
    }

    &__container {
        width: 100%;
        height: max-content;
        background-color: #343434;
        border-radius: 30px;
        overflow: hidden;

        @include screen(small) {
            border-radius: 0;
        }

        .section-header {
            padding: 60px;

            @include screen(small) {
                padding: 50px;
            }


            @include screen(medium) {
                 height: 120%;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
            }

            .title {
                h2 {
                    color: #fff;
                    text-align: center;
                    font-size: 2.5em;
                    font-weight: 400;

                    @include screen(small) {
                        font-size: 32px;
                    }

                    @include screen(medium) {
                        font-size: 24px;
                    }
                }
            }

            .button {
                margin-top: 35px;

                @include screen(small) {
                    text-align: center;
                }

                .btn {
                    padding: 10px 60px;
                    border-radius: 0;
                    font-size: 14px;
                    color: #fff;
                    font-weight: 500;
                    background-color: $primary;
                }
            }
        }

        .section-cover {
            height: 120%;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}