#partners {
    width: 100%;
    overflow: hidden;
    padding-top: 4rem;
    margin-top: -5px;
    padding-bottom: 4rem;
    background-color: $background-color;
    @include container;

    @include screen(small) {
        padding-top: 6rem;
    }

    .section-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: #fff;
            font-weight: 400;
        }

        p {
            color: #fff;
            text-align: center;
            margin-top: 8px;
            width: 45%;


            @include screen(small) {
                width: 87%;
            }

            @include screen(medium) {
                width: 82%;
            }
        }
    }

    .section-content {
        width: 100%;
        margin-top: 38px;

        .icons {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            gap: 6%;

            @include screen(small) {
                padding-left: 12%;
                padding-right: 12%;
            }

            .icon {
                text-align: center;

                @include screen(small) {
                    width: 25%;
                    margin-bottom: 35px;
                }

                img {
                    width: 40px;

                        @include screen(small){
                            width: 36.5px;   
                        }
                }
            }
        }


        .button {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 58px;

            @include screen(small) {
                margin-top: 16px;
            }

            .btn {
                padding: 10px 35px;
                border: 1px solid #fff;
                border-radius: 0;
                font-size: 15px;
                color: #fff;
                font-weight: 500;
            }
        }
    }
}