#gallery {
    width: 100%;
    overflow: hidden;
    padding-top: 4rem;
    margin-top: -5px;
    padding-bottom: 4rem;
    background-color: $background-color;
    @include container;

    @include screen(small) {
        padding-top: 6rem;
    }

    .section-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: #fff;
            font-weight: 400;
        }

        p {
            color: #fff;
            text-align: center;
            margin-top: 8px;
            width: 45%;


            @include screen(small) {
                width: 87%;
            }

            @include screen(medium) {
                width: 65%;
            }
        }
    }

    .section-content {
        width: 100%;
        margin-top: 1.4rem;

        @include screen(small){
            margin-top: -2rem;
        }

        .section-desktop {
            width: 100%;
            flex-direction: column;

            .section-1 {
                display: flex;
                gap: 25px;
                padding-left: 4%;
                padding-right: 4%;

                @include screen(medium) {
                    padding-left: 1%;
                    padding-right: 1%;
                }

                .img {
                    width: 100%;
                    height: 15rem;

                    @include screen(medium) {
                        height: 11rem;
                    }

                    img {
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .section-2 {
                display: flex;
                margin-top: 42px;
                gap: 25px;
                width: 100%;

                .img {
                    height: 15rem;
                    width: 100%;

                    @include screen(medium) {
                        height: 11rem;
                    }

                    img {
                        border-radius: 10px;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                #img-2 {
                    width: 35rem;
                }
            }
        }

        .section-responsive {
            display: flex;
            flex-direction: column;
            margin-top: 42px;
            width: 100%;

            @include screen(small) {
                padding-left: 3.3%;
                padding-right: 3.3%;
            }

            .img {
                width: 100%;
                height: 100%;

                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            #img-2 {
                width: 35rem;
            }
        }
    }

    .button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 55px;

        @include screen(small) {
            margin-top: 16px;
        }

        .btn {
            padding: 10px 35px;
            border: 1px solid #fff;
            border-radius: 0;
            font-size: 15px;
            color: #fff;
            font-weight: 500;
        }
    }
}