$background-color: #181818;
$primary :#4452FE;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Graphik Trial', sans-serif;
}

p{
    font-size: 14px;
}