.testimonials-card{
    width: 100%;
    height: max-content;
    border: 1px solid #565656
    ;
    border-radius: 8px;
    padding: 36px;

     .client{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 19px;

         .img{
            img{
                width: 45px;
                object-fit: cover;
            }

         }

         .info{

             p{
                color: #fff;
                margin-bottom: 0;
             }

             h6{
                color: #fff;
                margin-bottom: 0;
                font-size: 14.6px;
             }
         }
     }

     .text{
        margin-top: 26px;

        p{
            color: #fff;
            margin-bottom: 0;
        }
     }
}