@import "./content-card.scss";

#content {
    width: 100%;
    overflow: hidden;
    background-color: $background-color;
    margin-top: -4px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include container;

    .section-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: #fff;
            font-weight: 400;
        }

        p {
            color: #fff;
            text-align: center;
            margin-top: 8px;
        }
    }

    .section-points {
        padding-left: 4%;
        padding-right: 4%;

        @include screen(small) {
            justify-content: center;
            padding-left: 11%;
            padding-right: 11%;
            text-align: center;
        }
    }
}